@import './index.css';
@import "@economist/component-typography";
@import "@economist/component-icon/backgrounds/video.css";

.link-button-icon--video.link-button--icon-background {
  background-color: cadetblue;
}

:root {
  --link-button--styled-fontFamily: var(--fontfamily-sans);
  --link-button--styled-fontSize: var(--text-size-step--1);
  --link-button--styled-lineHeight: var(--text-line-height-sans-on-step--1);
}
