@import "@economist/component-typography";
@import "@economist/component-palette";
@import "@economist/component-grid";

.link-button--styled {
  display: inline-block;
  font-family: var(--fontfamily-sans);
  font-size: var(--text-size-step--1);
  line-height: var(--text-line-height-sans-on-step--1);
  text-decoration: none;
  padding: var(--grid-spacing-rabbit) var(--grid-gutter-xl);
  background-color: var(--link-button--styled-background, var(--color-chicago));
  color: var(--link-button--styled-color, var(--color-thimphu));
  border-radius: .3em;
  cursor: pointer;
  user-select: none;
}

.link-button--disabled {
  background-color: var(--link-button--disabled-background, var(--color-london));
  cursor: default;
}

.link-button--shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.link-button__group svg {
  vertical-align: bottom;
}

.link-button__icon {
  vertical-align: middle;
}
